<MudDrawer @bind-Open="IsOpen" Class="em-navbar">
    <MudDrawerHeader>
        <div class="em-navbar-brand-outer">
            <div class="em-navbar-brand" style="background-color: @Colors.DeepPurple.Darken4">
                Manager
            </div>
        </div>
    </MudDrawerHeader>
    <div class="em-navbar-menu">
        <MudNavMenu>
            <AuthorizeView Roles="Normal,Moderator,Administrator,Root">
                <Authorized>
                    <MudNavLink Href="">Home</MudNavLink>
                    <MudNavLink Href="/my-profile">My Profile</MudNavLink>
                    <MudNavLink Href="/my-notifications">My Notifications</MudNavLink>
                    <MudNavLink Href="/my-messages">My Messages</MudNavLink>
                    <MudNavLink Href="/my-tasks">My Tasks</MudNavLink>
                    <MudNavLink Href="/my-friends">My Friends</MudNavLink>
                    <MudNavLink Href="@(GetWorkingManagerUri())">Working Manager</MudNavLink>
                    <MudNavGroup Title="Working Statistics">
                        <MudNavLink Href="@GetWorkingMonthStatUri()">Working Month</MudNavLink>
                        <MudNavLink Href="@GetWorkingWeekStatUri()">Working Week</MudNavLink>
                    </MudNavGroup>
                    <MudNavLink Href="/csomors">Generators</MudNavLink>
                </Authorized>
                <NotAuthorized>
                    <MudNavLink Href="">Home</MudNavLink>
                    <MudNavLink Href="/auth/login">Login</MudNavLink>
                    <MudNavLink Href="/auth/registration">Registration</MudNavLink>
                    <MudNavLink Href="/csomors">Generators</MudNavLink>
                </NotAuthorized>
            </AuthorizeView>
            <AuthorizeView Roles="Administrator,Status Library User,Status Library Moderator,Status Library Administrator,Root">
                <Authorized>
                    <MudNavGroup Title="Status Library">
                        <MudNavGroup Title="Movies">
                            <MudNavLink Href="/movies">List</MudNavLink>
                            <MudNavLink Href="/my-movies">My List</MudNavLink>
                            <MudNavLink Href="/">Categories</MudNavLink>
                        </MudNavGroup>
                        <MudNavGroup Title="Books">
                            <MudNavLink Href="/books">List</MudNavLink>
                            <MudNavLink Href="/my-books">My List</MudNavLink>
                        </MudNavGroup>
                        <MudNavGroup Title="Series">
                            <MudNavLink Href="/series">List</MudNavLink>
                            <MudNavLink Href="/my-series">My List</MudNavLink>
                            <MudNavLink Href="/">Categories</MudNavLink>
                        </MudNavGroup>
                    </MudNavGroup>
                </Authorized>
                <NotAuthorized></NotAuthorized>
            </AuthorizeView>
        </MudNavMenu>
    </div>
    
    <div class="em-navbar-footer">
        <AuthorizeView>
            <Authorized>
                <CurrentUser/>
            </Authorized>
        </AuthorizeView>
    </div>
</MudDrawer>



@code {

    /// <summary>
    /// Drawer is open
    /// </summary>
    [Parameter]
    public bool IsOpen { get; set; }

}