<div class="em-navbar">
    <div class="em-navbar-brand-outer">
        <div class="em-navbar-brand">
            Manager
        </div>
    </div>
    <div class="em-navbar-menu">
        <MudNavMenu>
            <AuthorizeView Roles="Normal,Moderator,Administrator,Root">
                <Authorized>
                    <MudNavLink Href="">Home</MudNavLink>
                    <MudNavLink Href="/counter">Counter</MudNavLink>
                    <MudNavLink Href="/my-profile">My Profile</MudNavLink>
                    <MudNavLink Href="/my-notifications">My Notifications</MudNavLink>
                    <MudNavLink Href="/my-messages">My Messages</MudNavLink>
                    <MudNavLink Href="/my-tasks">My Tasks</MudNavLink>
                    <MudNavLink Href="/my-friends">My Friends</MudNavLink>
                    <MudNavLink Href="@(GetWorkingManagerUri())">Working Manager</MudNavLink>
                    <MudNavGroup Title="Working Statistics">
                        <MudNavLink Href="@GetWorkingMonthStatUri()">Working Month</MudNavLink>
                        <MudNavLink Href="@GetWorkingWeekStatUri()">Working Week</MudNavLink>
                    </MudNavGroup>
                    <MudNavLink Href="/csomors">Generators</MudNavLink>
                </Authorized>
                <NotAuthorized>
                    <MudNavLink Href="">Home</MudNavLink>
                    <MudNavLink Href="/auth/login">Login</MudNavLink>
                    <MudNavLink Href="/auth/registration">Registration</MudNavLink>
                    <MudNavLink Href="/csomors">Generators</MudNavLink>
                </NotAuthorized>
            </AuthorizeView>
            <AuthorizeView Roles="Administrator,Status Library User,Status Library Moderator,Status Library Administrator,Root">
                <Authorized>
                    <MudNavGroup Title="Status Library">
                        <MudNavLink Href="/my-movies">My Movies</MudNavLink>
                        <MudNavLink Href="/my-books">My Books</MudNavLink>
                        <MudNavLink Href="/my-series">My Series</MudNavLink>
                        <MudNavLink Href="/movies">Movies</MudNavLink>
                        <MudNavLink Href="/books">Books</MudNavLink>
                        <MudNavLink Href="/series">Series</MudNavLink>
                    </MudNavGroup>
                </Authorized>
                <NotAuthorized></NotAuthorized>
            </AuthorizeView>
        </MudNavMenu>
        @if (ChildContent != null)
        {
            @ChildContent
        }
    </div>
    <div class="em-navbar-footer">
        <AuthorizeView>
            <Authorized>
                <CurrentUser />
            </Authorized>
        </AuthorizeView>
    </div>
</div>