<MudDialog>
    <DialogContent>
        <div>
            <EditForm EditContext="@Context">
                <DataAnnotationsValidator />
                <div class="col col-12 p-1">
                    <MudTextField @bind-Value="Model.Name" Label="Name" FullWidth="true" Variant="Variant.Outlined" />
                    <ValidationMessage For="() => Model.Name" />
                </div>
                <div class="col col-12 p-1">
                    <MudTextField @bind-Value="Model.Author" Label="Author" FullWidth="true" Variant="Variant.Outlined" />
                    <ValidationMessage For="() => Model.Author" />
                </div>
                <div class="col col-12 p-1">
                    <MudTextField @bind-Value="Model.Description" Label="Description" FullWidth="true" Variant="Variant.Outlined" Lines="3" />
                    <ValidationMessage For="() => Model.Description" />
                </div>
                <div class="col col-12 p-1">
                    <MudDatePicker @bind-Date="Model.Publish" Label="Publish" InputVariant="Variant.Outlined" />
                    <ValidationMessage For="() => Model.Publish" />
                </div>
            </EditForm>
        </div>
    </DialogContent>
    <DialogActions>
            <MudButton OnClick="Cancel">Cancel</MudButton>
            <MudButton Color="Color.Primary" OnClick="Save">Save</MudButton>
        </DialogActions>
</MudDialog>