<MudDialog>
    <DialogContent>
        <div>
            <EditForm EditContext="@Context">
                <DataAnnotationsValidator />
                <div class="col col-12 p-1">
                    <MudTextField @bind-Value="Model.Title" Label="Title" FullWidth="true" Variant="Variant.Outlined" />
                    <ValidationMessage For="() => Model.Title" />
                </div>
                <div class="col col-12 p-1">
                    <MudTextField @bind-Value="Model.Description" Label="Description" FullWidth="true"
                        Variant="Variant.Outlined" Lines="3" />
                    <ValidationMessage For="() => Model.Description" />
                </div>
            </EditForm>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Save">Save</MudButton>
    </DialogActions>
</MudDialog>