@using ManagerAPI.Shared.Helpers
<div class="comment">
    <div class="comment-header">
        <strong>@Comment.User</strong> <i>@DateHelper.DateToString(Comment.Creation)</i>
    </div>
    <div class="comment-body">
        @if (IsEdit)
        {
            <div class="col col-12 p-1">
                <MudTextField @bind-Value="CommentText" Label="Comment" FullWidth="true" Variant="Variant.Outlined"
                Lines="3" />
            </div>
        }
        else
        {
            @Comment.Comment
        }
    </div>
    @if (Comment.OwnerIsCurrent)
    {
        <div class="comment-action">
            <span class="spacer"></span>
            @if (IsEdit)
            {
                <MudButton OnClick="SaveEdit" Color="Color.Primary">Save</MudButton>
                <MudButton OnClick="CancelEdit">Cancel</MudButton>
            }
            else
            {
                <MudButton OnClick="EditComment" Color="Color.Secondary">Edit</MudButton>
                <MudButton OnClick="DeleteComment" Color="Color.Error">Delete</MudButton>
            }
        </div>
    }
</div>