@import "../../../Styles/_common.scss";

.entity {
  @include panel;
  background-color: $white-trans;
  margin-bottom: .4rem;
  margin-top: .4rem;

  .data-row {
    .row-header {
      display: flex;

      .spacer {
        flex-grow: 1;
      }
    }

    .row-body {
      padding: 0.8rem;
    }
  }
}
