@page "/"

<div class="main-page w-100">
    <MudText Typo="Typo.h1" Class="em-page-title">Home</MudText>
    <MudText Typo="Typo.h3" Class="em-page-title">Hello There!</MudText>

    <div class="em-image-block text-center mt-3">
        <img src="/images/hello-there.gif" alt="hello-there"/>
    </div>
</div>