<MudDialog>
    <DialogContent>
        <div>
            <EditForm EditContext="Context">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div>
                    <MudTextField @bind-Value="PasswordUpdate.OldPassword" Label="Old Password" FullWidth="true" InputType="InputType.Password" Variant="Variant.Outlined" />
                    <ValidationMessage For="() => PasswordUpdate.OldPassword"></ValidationMessage>
                </div>
                <div>
                    <MudTextField @bind-Value="PasswordUpdate.NewPassword" Label="New Password" FullWidth="true" InputType="InputType.Password" Variant="Variant.Outlined" />
                    <ValidationMessage For="() => PasswordUpdate.NewPassword"></ValidationMessage>
                </div>
                <div>
                    <MudTextField @bind-Value="PasswordUpdate.ConfirmNewPassword" Label="Confirm New Password" FullWidth="true" InputType="InputType.Password" Variant="Variant.Outlined" />
                    <ValidationMessage For="() => PasswordUpdate.ConfirmNewPassword"></ValidationMessage>
                </div>
            </EditForm>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Save">Save</MudButton>
    </DialogActions>
</MudDialog>