<MudDialog>
    <DialogContent>
        <div>
            <EditForm EditContext="Context">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div>
                    <MudTextField @bind-Value="UsernameUpdate.UserName" Label="New Username" FullWidth="true"
                        Variant="Variant.Outlined" />
                    <ValidationMessage For="() => UsernameUpdate.UserName"></ValidationMessage>
                </div>
            </EditForm>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Save">Save</MudButton>
    </DialogActions>
</MudDialog>