@import '../../../Styles/_common.scss';

.wm-field {
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
  border-bottom: $primary-secondary-trans 3px solid;
  border-radius: $border-radius;
  padding: 0.5rem;
  background-color: $orange-trans;

  &.modifiable:hover {
    cursor: pointer;
  }

  .title-row {
    display: flex;
    color: $primary;

    .title {
      font-style: italic;
    }

    .spacer {
      flex-grow: 1;
    }

    .hours {
      font-weight: bold;
    }
  }
}
