<MudDialog>
    <DialogContent>
        <div>
            <EditForm EditContext="Context">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div>
                    <MudTextField @bind-Value="Model.Title" Label="Title" FullWidth="true" Variant="Variant.Outlined"/>
                    <ValidationMessage For="() => Model.Title"></ValidationMessage>
                </div>
                <div>
                    <MudTextField @bind-Value="Model.Description" Label="Description" FullWidth="true" Variant="Variant.Outlined" Lines="3"/>
                    <ValidationMessage For="() => Model.Description"></ValidationMessage>
                </div>
                <div>
                    <MudTextField @bind-Value="Model.Length" Label="Length" FullWidth="true" InputType="InputType.Number" Variant="Variant.Outlined"/>
                    <ValidationMessage For="() => Model.Length"></ValidationMessage>
                </div>
            </EditForm>
        </div>
    </DialogContent>
    <DialogActions>
        @if (Id != 0)
        {
            <div>
                <MudButton OnClick="OpenDeleteDialog">Delete</MudButton>
            </div>
        }
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Save">Save</MudButton>
    </DialogActions>
</MudDialog>