@page "/auth/registration"
@layout AuthLayout

<AuthPanel Title="@Title">
    <EditForm Model="Model" OnValidSubmit="SignUp">
        <DataAnnotationsValidator/>
        <div class="mb-3">
            <MudTextField @bind-Value="Model.UserName" Label="User Name" FullWidth="true" Variant="Variant.Outlined"/>
        </div>
        <div class="mb-3">
            <MudTextField InputType="InputType.Password" @bind-Value="Model.Password" Label="Password" FullWidth="true" Variant="Variant.Outlined"/>
        </div>
        <div class="mb-3">
            <MudTextField InputType="InputType.Password" @bind-Value="Model.PasswordConfirm" Label="Password Confirm" FullWidth="true" Variant="Variant.Outlined"/>
        </div>
        <div class="mb-3">
            <MudTextField InputType="InputType.Email" @bind-Value="Model.Email" Label="E-mail" FullWidth="true" Variant="Variant.Outlined"/>
        </div>
        <div class="mb-3">
            <MudTextField @bind-Value="Model.FullName" Label="Full Name" FullWidth="true" Variant="Variant.Outlined"/>
        </div>
        <div class="p-1 text-center">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Sing Up</MudButton>
        </div>
        <ValidationSummary/>
    </EditForm>
    <div class="col col-12 row mt-2">
        <div class="col col-6 p-1"></div>
        <div class="col col-6 p-1 text-right">
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="@(() => Navigate("/auth/login"))">Login</MudButton>
        </div>
    </div>
</AuthPanel>