@page "/my-notifications"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<div class="em-my-notifications w-100">
    <h1 class="em-page-title">My Notifications</h1>

    <div class="action-bar blue-label">
        <div>
            <MudSelect T="int?" Label="Importance" Variant="Variant.Outlined" ValueChanged="ImportanceValueChangedEvent"
                FullWidth="false" Color="Color.Primary">
                <MudSelectItem T="int?" Value="null">-</MudSelectItem>
                <MudSelectItem T="int?" Value="1">Level 1</MudSelectItem>
                <MudSelectItem T="int?" Value="2">Level 2</MudSelectItem>
                <MudSelectItem T="int?" Value="3">Level 3</MudSelectItem>
            </MudSelect>
        </div>
        <span class="spacer"></span>
        <MudCheckBox T="bool" Color="Color.Primary" Label="Show all" CheckedChanged="ShowReadValueChangedEvent" />
    </div>
    @if (IsLoading)
    {
        <Loader></Loader>
    }
    else
    {
        @if (FilteredNotifications != null && FilteredNotifications.Count > 0)
        {
            <div class="notification-list p-1">
                @foreach (var notification in FilteredNotifications)
                {
                    <MyNotificationComponent Notification="notification" />
                }
            </div>
        }
        else
        {
            <div class="text-center m-5 pt-5">
                <strong>You does not have any notification. That's cool!</strong>
            </div>
        }
    }
</div>
