@import '../../Styles/_common.scss';

.em-my-notifications {
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  .action-bar {
    @include action-panel;
  }

  .notification-list {
    display: flex;
    flex-grow: 1;
    overflow: auto;
    flex-direction: column;
  }
}
